---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="About Me">
	<h1>About Me</h1>
	<p>T14Gen5 & VPS</p>
	<ul>
		<li>OS: NixOS</li>
		<li>Editor: Helix</li>
		<li>Tools: Ranger, Lazygit</li>
	</ul>
</MainLayout>
